target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.gitignore
/.gitignore
.idea
**/.idea
**/.jcheck
**/test
**/.hg_archival.txt
**/.hgtags
**/ASSEMBLY_EXCEPTION
**/LICENSE
**/THIRD_PARTY_README
**/.DB_Store
.DB_Store
**/*.iml
**/make
*.iml
